<?xml version="1.0" encoding="UTF-8"?>

<!-- Más información de como modificar este archivo en http://docs.build.phonegap.com/ -->

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "sc.alerta"
        version   = "0.0.2">

    <name>SC ALERTA</name>

    <description>
        SC Alerta
    </description>

    <author href="https://github.com/jmhidalgoa" email="jmhidalgoa@live.com">
        SC Alerta
    </author>

    <!-- Restringir vista vertical -->
    <preference name="orientation" value="portrait" />
    <!-- No requiere permisos especiales -->
    <preference name="permissions" value="none"/>
    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <!-- Permite acceder a contenido externo -->
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />

    <!-- Personaliza tu aplicación y plataforma -->
    <preference name="fullscreen"                 value="false" />           <!-- Para todos: Oculta la barra de estado en la parte superior de la pantalla. -->
    <preference name="webviewbounce"              value="true" />           <!-- ios: Controla si la pantalla rebota al desplazarla más allá de la parte superior -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: Si el icono está pre-renderizado, iOS no aplicará brillo al icono de la aplicación en la pantalla principal del usuario -->
    <preference name="stay-in-webview"            value="false" />          <!-- ios: Enlaces externos se abrirán en el navegador por defecto, "true" utilizaría el webview de la aplicación -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: Negro-transparente aparecerá negro porque el webview PhoneGap no pasa por debajo de la barra de estado -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: Controla si los tipos de datos (por ejemplo, Tel. y fechas) se convierten automáticamente en enlaces por el sistema -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: Si se establece en true, la aplicación terminará cuando se pulsa el botón inicio -->
    <preference name="show-splash-screen-spinner" value="true" />           <!-- ios: Si se establece en false, la ruleta no aparecerá en la pantalla de bienvenida mientras la aplicación se carga -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: si se establece en false, la pantalla de presentación debe estar oculta usando una API de JavaScript -->
    <preference name="android-minSdkVersion"      value="19" />              <!-- android: Versión mínima del SDK soportado en el dispositivo de destino. Versión máxima está en blanco de forma predeterminada. -->
    <preference name="android-installLocation"    value="auto" />           <!-- Android: Ubicación de instalación de la aplicación. 'auto' elegirá. 'internalOnly" es la memoria interna del dispositivo. 'preferExternal' es la tarjeta SD. -->

    <preference name='phonegap-version' value='cli-5.2.0' />    


    <!-- Plugins -->

    <!-- Plugins Escenciales -->
    <gap:plugin name="org.apache.cordova.battery-status" source="npm" />           <!-- Monitorea el estado de la batería del dispositivo. -->
    <gap:plugin name="org.apache.cordova.camera" source="npm" />           <!-- Captura una foto utilizando la cámara del dispositivo. -->
    <gap:plugin name="org.apache.cordova.media-capture" source="npm" />           <!--  Capturar archivos multimedia utilizando aplicaciones de captura de los medios de comunicación del dispositivo. -->    
    <gap:plugin name="org.apache.cordova.device" source="npm" />           <!-- Recopilar información específica del dispositivo. -->
    <gap:plugin name="org.apache.cordova.device-orientation" source="npm" />           <!-- Obtener la dirección que el dispositivo está apuntando (Compass) -->.
    <gap:plugin name="org.apache.cordova.dialogs" source="npm" />           <!-- Notificaciones visuales del dispositivo. -->
    <gap:plugin name="org.apache.cordova.file" source="npm" />           <!-- Conexión al sistema de archivos nativo a través de JavaScript. -->
    <gap:plugin name="org.apache.cordova.file-transfer" source="npm" />           <!-- Permite subir y descargar archivos.. -->
    <gap:plugin name="org.apache.cordova.globalization" source="npm" />           <!-- Habilitar la representación de objetos específicos. -->
    <gap:plugin name="org.apache.cordova.inappbrowser" source="npm" />           <!-- Lanzamiento de direcciones URL en otra instancia del navegador en la aplicación. -->
    <gap:plugin name="org.apache.cordova.media" source="npm" />           <!-- Graba y reproduce archivos de audio. -->
    <gap:plugin name="org.apache.cordova.network-information" source="npm" />           <!-- Comprueba rápidamente el estado de la red, y la información de la red celular (Conexión). -->   
    <gap:plugin name="org.apache.cordova.splashscreen" source="npm" />           <!-- Mostrar y ocultar las aplicaciones de pantalla de bienvenida. -->
    <gap:plugin name="org.apache.cordova.vibration" source="npm" />           <!-- Una API para hacer vibrar el dispositivo. -->
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />           <!-- Implementa una política de lista blanca para navegar por la aplicación -->
    <gap:plugin name="org.apache.cordova.geolocation" />           <!-- Proporciona información sobre la ubicación del dispositivo, tal como latitud y longitud. -->

   <!-- Definir el icono de la aplicación para cada plataforma. -->
    <icon src="icon.png" />
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />
    <icon src="res/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />

    <!-- Definir pantalla de bienvenida para cada plataforma. -->
    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"       gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"       gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"       gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png"      gap:platform="android" gap:qualifier="port-xhdpi" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait.png"         gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png"      gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="res/screen/ios/screen-ipad-portrait.png"           gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/screen/ios/screen-ipad-landscape.png"          gap:platform="ios"     width="1024" height="768" />

    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
    <string>100</string>
    </gap:config-file>

    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />    

    <gap:platform name="android"/>

</widget>