<?xml version="1.0" encoding="UTF-8"?>

<!-- Más información de como modificar este archivo en http://docs.build.phonegap.com/ -->

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "pe.gob.munisanmiguel.sag.sc"
        version   = "1.0.0">

    <name>Alerta Ciudadana</name>

    <description>
        Alerta Ciudadana
    </description>

    <author href="https://*" email="sliesttinyman@outlook.com">
        SAG SC Team
    </author>

    <!-- Restringir vista vertical -->
    <preference name="orientation" value="portrait" />
    <!-- No requiere permisos especiales -->
    <preference name="permissions" value="none"/>
    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <!-- Permite acceder a contenido externo -->
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />

    <!-- Personaliza tu aplicación y plataforma -->
    <preference name="fullscreen"                 value="false" />           <!-- Para todos: Oculta la barra de estado en la parte superior de la pantalla. -->
    <preference name="android-minSdkVersion"      value="19" />              <!-- android: Versión mínima del SDK soportado en el dispositivo de destino. Versión máxima está en blanco de forma predeterminada. -->
    <preference name="android-installLocation"    value="auto" />           <!-- Android: Ubicación de instalación de la aplicación. 'auto' elegirá. 'internalOnly" es la memoria interna del dispositivo. 'preferExternal' es la tarjeta SD. -->

    <preference name='phonegap-version' value='cli-5.2.0' />    


    <!-- Plugins -->

    <!-- Plugins Escenciales -->
    <gap:plugin name="org.apache.cordova.battery-status" source="npm" />           <!-- Monitorea el estado de la batería del dispositivo. -->
    <gap:plugin name="org.apache.cordova.camera" source="npm" />           <!-- Captura una foto utilizando la cámara del dispositivo. -->
    <gap:plugin name="org.apache.cordova.media-capture" source="npm" />           <!--  Capturar archivos multimedia utilizando aplicaciones de captura de los medios de comunicación del dispositivo. -->    
    <gap:plugin name="org.apache.cordova.device" source="npm" />           <!-- Recopilar información específica del dispositivo. -->
    <gap:plugin name="org.apache.cordova.device-orientation" source="npm" />           <!-- Obtener la dirección que el dispositivo está apuntando (Compass) -->.
    <gap:plugin name="org.apache.cordova.dialogs" source="npm" />           <!-- Notificaciones visuales del dispositivo. -->
    <gap:plugin name="org.apache.cordova.file" source="npm" />           <!-- Conexión al sistema de archivos nativo a través de JavaScript. -->
    <gap:plugin name="org.apache.cordova.file-transfer" source="npm" />           <!-- Permite subir y descargar archivos.. -->
    <gap:plugin name="org.apache.cordova.globalization" source="npm" />           <!-- Habilitar la representación de objetos específicos. -->
    <gap:plugin name="org.apache.cordova.inappbrowser" source="npm" />           <!-- Lanzamiento de direcciones URL en otra instancia del navegador en la aplicación. -->
    <gap:plugin name="org.apache.cordova.media" source="npm" />           <!-- Graba y reproduce archivos de audio. -->
    <gap:plugin name="org.apache.cordova.network-information" source="npm" />           <!-- Comprueba rápidamente el estado de la red, y la información de la red celular (Conexión). -->   
    <gap:plugin name="org.apache.cordova.splashscreen" source="npm" />           <!-- Mostrar y ocultar las aplicaciones de pantalla de bienvenida. -->
    <gap:plugin name="org.apache.cordova.vibration" source="npm" />           <!-- Una API para hacer vibrar el dispositivo. -->
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />           <!-- Implementa una política de lista blanca para navegar por la aplicación -->
    <gap:plugin name="org.apache.cordova.geolocation" />           <!-- Proporciona información sobre la ubicación del dispositivo, tal como latitud y longitud. -->

   <!-- Definir el icono de la aplicación para cada plataforma. -->
    <icon src="icon.png" />
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />

    <!-- Definir pantalla de bienvenida para cada plataforma. -->
    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"       gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"       gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"       gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png"      gap:platform="android" gap:qualifier="port-xhdpi" />

    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />    

    <gap:platform name="android"/>

</widget>